<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
<!-- SLIDER SIMPLE BY HTML-->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="container-fluid">
    <div class="carousel-indicators">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777" />
        </svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Soul</h1>
            <p>Le dernier film d'animation des studios Pixar</p>
            <p><a class="btn btn-lg btn-primary" href="#">Voir la fiche du film</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777" />
        </svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Toys Story 4</h1>
            <p>Woody et sa bande sont de retour dans ce 4e opus.</p>
            <p><a class="btn btn-lg btn-primary" href="#">En savoir +</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777" />
        </svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Coco</h1>
            <p>Pour les amateurs de musique. A voir et à revoir</p>
            <p><a class="btn btn-lg btn-primary" href="#">En savoir +</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">&#60;</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">&#62;</span>
    </button>
  </div>
</div>

<!-- CONTAINER OF COMPONENTS AS TOP FILMS, NEXT SEANCES, QUIZZ-->
<div class="container">
  <!--Section pour le film en tête d'affiche (titre + affiche)-->
  <section>
    <div>
      <div>
        <p> - BLACK WIDOW Bande Annonce VF Nouvelle 2021 Scarlett Johansson Série Marvel</p>
      </div>
      <div>
        <img src="yt1.mp4" alt="">
      </div>
      <div>
        <input type="button" value="regarder maintenant" id="regarder maintenant">
      </div>
    </div>
  </section>

  <!--Section pour le bouton rechercher-->
  <section>

    <div class="container" class="p-3 mb-2 bg-info text-dark">
      <form class="form-inline" action="/recherche/" method="get">

        <div class="input-group">
          <div class="input-group-prepend">
            <select id="oCategorie" name="oCategorie" class="form-control">
              <option selected="selected" value="0">Catégorie</option>
              <option value="1">animation</option>
              <option value="1">famille</option>
              <option value="1">fantastique</option>
              <option value="1">comédie</option>
              <option value="1">aventure</option>
            </select>
          </div>
          <input id="oSaisie" name="oSaisie" type="text" [(ngModel)]="searchTitle" class="form-control"
            aria-label="Saisie de mots clés" required="required">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" color="light" (click)="searchMovie()">Recherche</button>
          </div>
        </div>
        <div>

          <img [src]="movieData.imageUrl">
          <h1>{{ movieData.title }}</h1>
          <p>{{ movieData.description }}</p>
        </div>

      </form>

    </div>
  </section>

  <!--Bloc contenant les informations sur les films et les séances actuels-->
  <div>
    <div>
      <h2>À l'affiche</h2>
    </div>
    <div>
      <div *ngFor="let film of films;let i = index">
        <span> <img [src]="film.urlPoster" /></span>
        <h3><strong>{{ film.title }}</strong></h3>
        <h5>{{film.description}}</h5>


      </div>
    </div>
  </div>
  <section>
    <div>
      <h2>Prochaines séances</h2>
    </div>
    <div>
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/2/29/Finding_Nemo.jpg" />
        <h3>Némo</h3>
        <p>
          10:00
        </p>
        <p>
          Salle 1
        </p>
      </div>
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/9/98/Coco_%282017_film%29_poster.jpg" />
        <h3>Coco</h3>
        <p>
          12:20
        </p>
        <p>
          Salle 2
        </p>
      </div>
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/4/4c/Toy_Story_4_poster.jpg" />
        <h3>Toy Story 4</h3>
        <p>
          12:20
        </p>
        <p>
          Salle 3
        </p>
      </div>
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/0/0a/Inside_Out_%282015_film%29_poster.jpg" />
        <h3>Vice Versa</h3>
        <p>
          10:00
        </p>
        <p>
          Salle 4
        </p>
      </div>
      <div>
        <img src="https://upload.wikimedia.org/wikipedia/en/3/3e/Finding_Dory.jpg" />
        <h3>Le monde de Dory</h3>
        <p>
          14:00
        </p>
        <p>
          Salle 5
        </p>
      </div>
    </div>


    <div>
      <a href="https://fr-fr.facebook.com/">
        <img src="fb.png">
      </a>
      <a href="twitter.com">
        <img src="logotwitter.jpg">
      </a>
      <a href="instagram.com">
        <img src="1_Instagram.webp">
      </a>
      <a href="youtube.com">
        <img src="logoyoutube.jpg">
      </a>
    </div>
  </section>
</div>
