<main>
  <img class="img-responsive" src="/assets/image/blanc.jpg" height="602" width="470" />


  <div>
    <h1>cinema Hb2</h1>

    <p><strong>adresse11 rue des gobletes nantes 44100</strong></p>
    <p><strong>histoire cinema hb2</strong></p>
    <p> Fin 1945, la ville de nantes comptait une quarantaine de théâtres cinématographiques. Il y avait les cinémas
      d’exclusivité et les cinémas de quartier. "Sud Ouest" ouvre ses archives sur les écrans de la dernière séance

      la fin de la Seconde Guerre mondiale, la ville a compté jusqu’à une quarantaine de théâtres cinématographiques.
      Les salles d’exclusivité diffusaient les films "en première vision", et les cinémas de quartier ou de barrière
      les projetaient avec quelques semaines ou mois de décalage. Puis le Cinéascope, dans les années 50, a changé la
      donne certaines salles n’ayant pas la possibilité d’élargir les écrans, l’arrivée de la télévision dans les
      foyers, dans les années 60, a, elle, amorcé la fin des cinémas de quartier. </p>

  </div>
  <div>
    <h3>Nous contacter</h3>
  </div>
  <div class="swatch-200">
    <form action="https://mailthis.to/zakidenero@gmail.com" method="POST">
      <input type="text" name="name" placeholder="Your name">
      <input type="email" name="_replyto" placeholder="Your email">
      <input type="submit" value="Send Email">
    </form>
  </div>
  <div class="map-container">
    <div>
      <h2>Nous retrouver</h2>
    </div>
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</main>
