

<!--Booking recapitulative-->
<div>
    <!--Personnal and session infos recapitulative-->
    <div>
        <h2>Récapitulatif de la réservation</h2>

        <!-- <h2>{{ dataSession | json }}</h2> -->
        <h4>Réservation faite par : </h4>
        <p>{{dataSession?.firstName}} {{dataSession?.lastName}}</p><!-- First name + last name-->
        <h4>Votre mail : </h4>
        <p>{{dataSession?.mail}}</p>
        <!--Film-->
        <h5>Film : {{ dataSession?.film }}</h5>
        
        <h5>Salle :</h5>
        <h3>{{ dataSession?.sessionItem?.rooms?.roomNumber | json }}</h3>
        <p></p><!--Room-->
        <h5>Horaire :</h5>
        <h3>{{ dataSession?.sessionItem?.shedules?.day_date | json }} {{ dataSession?.sessionItem?.shedules?.start_time | json }}</h3><!--Schedule-->
        <h5>Nombre de places réservées :</h5>
        <p>{{ dataSession?.numberSeats }}</p><!--NumberOfSeats-->
        <h4>Prix de la réservation :</h4>
        <p>{{ dataSession?.price }} €</p><!--Total price-->

        <button (click)="OnClickModify()"> Modifier</button>
        <button type="submit"> Valider</button>

      
    </div>
</div>