<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a routerLinkActive="active" class="nav-link" routerLink="#">Mentions légales</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="#">Informations générales</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/plan">Plan du site</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="/help">Centre d'aide</a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" class="nav-link" routerLink="#">Nous contacter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>