<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="assets/image/cinemaphoto.jpg " class="profile-img-card" />
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="firstName">firstName</label>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="form.username" required minlength="3"
          maxlength="20" #firstName="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && firstName.invalid">
          <div *ngIf="firstName.errors.required">firstName is required</div>
          <div *ngIf="firstName.errors.minlength">
            firstName must be at least 3 characters
          </div>
          <div *ngIf="firstName.errors.maxlength">
            firstName must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="mail">Email</label>
        <input type="mail" class="form-control" name="mail" [(ngModel)]="form.mail" required email #email="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && mail.invalid">
          <div *ngIf="mail.errors.required">Email is required</div>
          <div *ngIf="mail.errors.mail">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
          #password="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
