<div class="container">
    <h1>Toutes les séances</h1>

    <div class="col-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Salle</th>
                    <th>Séances</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let seance of listSessions;let i = index">
                    <td>{{ seance.filmId }}</td>
                    <td>{{ seance.roomId }}</td>
                    <td>{{ seance.scheduleId }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>