<div class="container">
  <h1>Toutes les séances</h1>

  <div class="col-4" class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Film</th>
          <th>Description</th>
          <th>Poster</th>
          <th>Horaires</th>
          <th>panier</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films;let i = index">
          <td><strong>{{ film.title }}</strong></td>
          <td>{{film.description}}</td>

          <td> <img [src]="film.urlPoster" /></td>
          <td>{{film.duration}} {{i}} </td>
          <td><button type="button" class="btn btn-primary">ajouter</button></td>

        </tr>


    </table>
  </div>
</div>
