<div class="container">
    <section class="app-link-list">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/list">Films</a></li>
            <li><a href="#">Cinema</a></li>
            <li><a href="#">Actualités</a></li>
            <li><a href="#">Nous suivre</a></li>
        </ul>
        <ul class="app-second-list">
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Informations générales</a></li>
            <li><a href="/help">Centre d'aide</a></li>
            <li><a href="#">Nous contacter</a></li>
        </ul>
    </section>
    <!--Bloc additionnel pour l'aide-->
    <section class="app-help">
        <h2>Vous avez une question ?</h2>
        <p>Accédez à notre Aide en ligne pour trouver la réponse.<br> Si jamais vous ne la trouvez pas, il vous suffira de nous adresser une demande, qui sera traitée dans les meilleurs délais.
        </p>
        <div class="app-btn">
            <p>
                <a class="app-button" href="#">Centre d'aide</a>
            </p>
            <p>
                <a class="app-button" href="#">Nous contacter</a>
            </p>
        </div>
    </section>
</div>