<p>bookingrecapitulative works!</p>

<!--Booking recapitulative-->
<div>
    <!--Personnal and session infos recapitulative-->
    <div>
        <h2>Récapitulatif de la réservation</h2>

        <h4>Réservation faite par : </h4>
        <p></p><!-- First name + last name-->
        
        <h5>Film :</h5>
        <p></p><!--Film-->
        <h5>Salle :</h5>
        <p></p><!--Room-->
        <h5>Horaire :</h5>
        <p></p><!--Schedule-->
        <h5>Nombre de places réservées :</h5>
        <p></p><!--NumberOfSeats-->
        <h4>Prix de la réservation :</h4>
        <p></p><!--Total price-->

      
    </div>
</div>